In [1]:
#Pandas is a library having the functions related to the database
import pandas as pd

In [2]:
#Assigning a variable "dataset" agaisnt the CSV file need to be taken
dataset=pd.read_csv("Salary_Data.csv")

In [3]:
#Recall/print the variable details
dataset

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [4]:
#extract the needed column, in "dataset" variable contain whole data, raising a new variable as "independent" and calling 
#the relavant column "YearsExperience" which is input data
independent=dataset[["YearsExperience"]]
independent

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [5]:
#print or recall the variable
independent

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [6]:
#extract the needed column, in "dataset" variable contain whole data, raising a new variable as "dependent" and calling 
#the relavant column "Salary" which is output data
dependent=dataset[["Salary"]]
dependent

      Salary
0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
5    56642.0
6    60150.0
7    54445.0
8    64445.0
9    57189.0
10   63218.0
11   55794.0
12   56957.0
13   57081.0
14   61111.0
15   67938.0
16   66029.0
17   83088.0
18   81363.0
19   93940.0
20   91738.0
21   98273.0
22  101302.0
23  113812.0
24  109431.0
25  105582.0
26  116969.0
27  112635.0
28  122391.0
29  121872.0

In [9]:
#sklearn= split the the train and test sets, [sklearn.model dt operator reffering here like class and functions this lead 
#save the memory space rather than recall all library]
from sklearn.model_selection import train_test_split

#Recall the function and update the parameter in the brackets, train and tests for indpendent & train & test for dependent 
# to split and visible
X_train,X_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.30, random_state=0)

In [10]:

#AI Model Creation Part (Learning Phase) =>
#Call the Linear Regression Function using "sklearn.linear_model
from sklearn.linear_model import LinearRegression

#Creating variable as "regressor", and assiginig "LineaRegression()" as like class which already inclueds functions
regressor=LinearRegression()

#Calling the function "fit" which inside of regessor, and adding the inputs and outputs for the training sets for substitute
#like apply the data for the formuals (Y=MX+C)
regressor.fit(X_train,y_train)

LinearRegression()

In [11]:
#weight is calculated from .coef_ formula thus using here to call
weight=regressor.coef_
weight

array([[9360.26128619]])

In [12]:
#checking the bais variable by recalling ".intercept_" function
bais=regressor.intercept_
bais

array([26777.3913412])

In [17]:
#Evaluvate the model
#Creating a variable "y_pred" call the predict function includes in the regressor 
# like calling from regressor calss, function predict
#predict the X_test data, which need to be evaluvated cross the check test data which isn't included in training set
y_pred=regressor.predict(X_test)

In [18]:
#Calculate the r2 value
from sklearn.metrics import r2_score
#creating a variable "r_score" and substitute to the formula
#apply the actual Y data , and Y predicted Data
r_score=r2_score(y_test,y_pred)

In [19]:
#print the r_score value, value is merely one which means model is performing well enough
r_score

0.9740993407213511

In [21]:
#saving the model which can be done by "pickle" 
import pickle

#creating variable as "filename" and give the name
#pickle extension is ".sav" so saving accordingly is creating onle file name
filename="finalized_model_linear.sav"

In [23]:
#save the model in to the file 
# regressor where all model is saved, wb means write binary

pickle.dump(regressor,open(filename,'wb'))

In [27]:
# load the saved Model
#Creating a variable "loaded_model" , call the function "pickle.load" then "open" and path of the file
loaded_model=pickle.load(open("finalized_model_linear.sav",'rb'))

#creating a variable "results" to call the "loaded_model"
result=loaded_model.predict([[13]])

C:\Anaconda\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [28]:
#print the results variable
result

array([[148460.78806172]])